/*(CTA text)*/
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
  height: auto;
}

body {
  position: relative;
  overflow-y: hidden;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

.disabled {
  display: none !important;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*(CTA text)*/
nav {
  margin: 8vh 12vh;
  display: flex;
  height: 80px;
  gap: 50px;
  align-items: center;
}
nav .logo {
  height: 70%;
}
nav .MenuContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav .MenuContainer .NavItemsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
nav .MenuContainer .NavItemsContainer .ListItem {
  position: relative;
  color: hsl(0deg, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 20px 0;
  cursor: pointer;
}
nav .MenuContainer .NavItemsContainer .ListItem::after {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(../../images/icon-arrow-light.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -20px;
  top: 45%;
}
nav .MenuContainer .NavItemsContainer .ListItem:hover::after, nav .MenuContainer .NavItemsContainer .ListItem:focus::after {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(../../images/icon-arrow-light.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -20px;
  top: 40%;
  transform: rotateZ(180deg);
}
nav .MenuContainer .NavItemsContainer .ListItem:hover {
  text-decoration: underline;
  bottom: 2px solid hsl(0deg, 0%, 100%);
}
nav .MenuContainer .NavItemsContainer .ListItem:hover .DropdownContainer, nav .MenuContainer .NavItemsContainer .ListItem:focus .DropdownContainer {
  display: flex;
}
nav .MenuContainer .NavItemsContainer .ListItem .DropdownContainer {
  display: none;
  margin-top: 20px;
  margin-left: -15px;
  background-color: hsl(0deg, 0%, 100%);
  width: 150px;
  border-radius: 5px;
  padding: 25px 20px;
  position: absolute;
  color: black;
  flex-direction: column;
  box-shadow: 0 0 10px black;
  gap: 5px;
  cursor: default;
}
nav .MenuContainer .NavItemsContainer .ListItem .DropdownContainer .DropdownItem {
  cursor: pointer;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
nav .MenuContainer .NavItemsContainer .ListItem .DropdownContainer .DropdownItem:hover {
  font-weight: 500;
}
nav .MenuContainer .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav .MenuContainer .buttons button {
  color: hsl(0deg, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  border: 0;
  padding: 5px 25px;
  border-radius: 25px;
  cursor: pointer;
}
nav .MenuContainer .buttons .SignUp, nav .MenuContainer .buttons .StartforFree {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(356deg, 100%, 66%);
}
nav .MenuContainer .buttons .SignUp:hover, nav .MenuContainer .buttons .StartforFree:hover {
  background-color: rgba(255, 255, 255, 0.445);
  color: hsl(0deg, 0%, 100%);
}
nav .MenuContainer .buttons .LearnMore {
  border: 1px solid hsl(0deg, 0%, 100%);
}
nav .MenuContainer .buttons .LearnMore:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(356deg, 100%, 66%);
}

header {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .title {
  color: hsl(0deg, 0%, 100%);
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: clamp(25px, 5vw, 80px);
}
header .subTitle {
  color: rgb(211, 211, 211);
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: clamp(15px, 2vw, 30px);
}
header .buttons {
  margin-top: 30px;
}
header .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .buttons button {
  color: hsl(0deg, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  border: 0;
  padding: 5px 25px;
  border-radius: 25px;
  cursor: pointer;
}
header .buttons .SignUp, header .buttons .StartforFree {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(356deg, 100%, 66%);
}
header .buttons .SignUp:hover, header .buttons .StartforFree:hover {
  background-color: rgba(255, 255, 255, 0.445);
  color: hsl(0deg, 0%, 100%);
}
header .buttons .LearnMore {
  border: 1px solid hsl(0deg, 0%, 100%);
}
header .buttons .LearnMore:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(356deg, 100%, 66%);
}

main {
  padding: 10px 30px;
}
main .SubTitle {
  text-align: center;
  color: hsl(208deg, 49%, 24%);
  font-family: "Overpass", sans-serif;
  font-size: clamp(20px, 5vw, 50px);
  margin: 100px 0;
}
main .section-1 {
  display: flex;
  justify-content: center;
  height: 65vh;
}
main .section-1 article {
  width: 40%;
}
main .section-1 article .SectionTitle {
  color: hsl(208deg, 49%, 24%);
  font-family: "Overpass", sans-serif;
  font-size: 35px;
  margin: 1.5rem 0;
}
main .section-1 article .SectionParagraph {
  color: hsl(207deg, 13%, 34%);
  font-size: 24px;
  font-family: "Overpass", sans-serif;
  margin-bottom: 5rem;
}
main .section-1 .image {
  width: 40%;
  position: relative;
}
main .section-1 .image img {
  position: absolute;
  right: 0;
  top: 40%;
  width: clamp(800px, 50vw, 1000px);
  transform: translateX(50%) translateY(-50%);
}

.backgroundImage {
  overflow: hidden;
  position: relative;
  height: 70vh;
  border-radius: 0 0 0 50px;
  background: #ff8f70;
  background-image: linear-gradient(90deg, #ff8f70 0%, #ff3d54 100%);
}
.backgroundImage .BGIMG {
  position: absolute;
  inset: 0;
  background-image: url(../images/bg-pattern-intro-desktop.svg);
  background-size: 200%;
  background-position: 30% 50%;
}/*# sourceMappingURL=style.css.map */