/*(CTA text)*/
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
  height: auto;
}

body {
  position: relative;
  overflow-y: hidden;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

.disabled {
  display: none !important;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*(CTA text)*/
nav {
  box-sizing: content-box;
  padding: 8vh 12vh;
  display: flex;
  height: 80px;
  gap: 50px;
  align-items: center;
}
nav .hamburger {
  display: none;
}
nav .logo {
  height: 70%;
}
nav .MenuContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav .MenuContainer .NavItemsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
nav .MenuContainer .NavItemsContainer .ListItem {
  position: relative;
  color: hsl(0deg, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 20px 0;
  cursor: pointer;
}
nav .MenuContainer .NavItemsContainer .ListItem::after {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(../../images/icon-arrow-light.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -20px;
  top: 45%;
}
nav .MenuContainer .NavItemsContainer .ListItem:hover::after, nav .MenuContainer .NavItemsContainer .ListItem:focus::after {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(../../images/icon-arrow-light.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -20px;
  top: 40%;
  transform: rotateZ(180deg);
}
nav .MenuContainer .NavItemsContainer .ListItem:hover {
  text-decoration: underline;
  bottom: 2px solid hsl(0deg, 0%, 100%);
}
nav .MenuContainer .NavItemsContainer .ListItem:hover .DropdownContainer, nav .MenuContainer .NavItemsContainer .ListItem:focus .DropdownContainer {
  display: flex;
  padding: 25px 20px;
  height: auto;
  transition: padding 0.5s;
}
nav .MenuContainer .NavItemsContainer .ListItem .DropdownContainer {
  display: none;
  margin-top: 20px;
  margin-left: -15px;
  background-color: hsl(0deg, 0%, 100%);
  width: 150px;
  border-radius: 5px;
  padding: 25px 20px;
  position: absolute;
  color: black;
  margin-bottom: 20px;
  flex-direction: column;
  box-shadow: 0 0 10px black;
  gap: 5px;
  cursor: default;
}
nav .MenuContainer .NavItemsContainer .ListItem .DropdownContainer .DropdownItem {
  cursor: pointer;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
nav .MenuContainer .NavItemsContainer .ListItem .DropdownContainer .DropdownItem:hover {
  font-weight: 500;
}
@media only screen and (max-width: 1030px) {
  nav .MenuContainer .NavItemsContainer .ListItem .DropdownContainer {
    transition: padding 0.5s;
    padding: 0;
    height: 0;
    display: flex;
    background-color: hsla(240deg, 3%, 79%, 0.273);
    width: 250px;
    position: relative;
    align-items: center;
    box-shadow: none;
    overflow: hidden;
  }
  nav .MenuContainer .NavItemsContainer .ListItem .DropdownContainer .DropdownItem {
    cursor: pointer;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    border-bottom: 0;
    color: hsl(208deg, 49%, 24%);
  }
  nav .MenuContainer .NavItemsContainer .ListItem .DropdownContainer .DropdownItem:hover {
    font-weight: 500;
  }
}
nav .MenuContainer .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
}
@media only screen and (max-width: 1030px) {
  nav .MenuContainer .buttons {
    flex-direction: column;
  }
}
nav .MenuContainer .buttons button {
  color: hsl(0deg, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  border: 0;
  padding: 5px 25px;
  border-radius: 25px;
  cursor: pointer;
}
nav .MenuContainer .buttons .SignUp, nav .MenuContainer .buttons .StartforFree {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(356deg, 100%, 66%);
}
nav .MenuContainer .buttons .SignUp:hover, nav .MenuContainer .buttons .StartforFree:hover {
  background-color: rgba(255, 255, 255, 0.445);
  color: hsl(0deg, 0%, 100%);
}
nav .MenuContainer .buttons .LearnMore {
  border: 1px solid hsl(0deg, 0%, 100%);
}
nav .MenuContainer .buttons .LearnMore:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(356deg, 100%, 66%);
}
nav .MenuContainer .buttons .LearnMore, nav .MenuContainer .buttons .StartforFree {
  padding: clamp(5px, 1vw, 15px) clamp(25px, 3vw, 40px);
  font-size: larger;
}
@media only screen and (max-width: 1030px) {
  nav .MenuContainer .buttons button {
    color: hsl(208deg, 49%, 24%);
  }
  nav .MenuContainer .buttons .LearnMore {
    color: hsl(0deg, 0%, 100%);
  }
  nav .MenuContainer .buttons .SignUp {
    background: #ff8f70;
    background-image: linear-gradient(90deg, #ff8f70 0%, #ff3d54 100%);
    color: hsl(0deg, 0%, 100%);
  }
}

@media only screen and (max-width: 1030px) {
  nav {
    padding: 5vh 5vh;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  nav .hamburger {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: url(../../images/icon-hamburger.svg);
    z-index: 100;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  nav .hamburger.active {
    background-image: url(../../images/icon-close.svg);
  }
  nav .MenuContainer {
    transition: transform 0.2s;
    transform: translateX(-120%);
    box-shadow: 0 0 10px black;
    position: absolute;
    top: 175px;
    left: 3.5vw;
    background-color: hsl(0deg, 0%, 100%);
    flex-direction: column;
    z-index: 100;
    align-items: center;
    padding: 20px 30px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 90vw;
  }
  nav .MenuContainer .NavItemsContainer {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid hsl(240deg, 2%, 79%);
    margin-bottom: 20px;
  }
  nav .MenuContainer .NavItemsContainer .ListItem {
    text-decoration: none !important;
    text-align: center;
    position: relative;
    color: hsl(208deg, 49%, 24%);
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
  }
  nav .MenuContainer .NavItemsContainer .ListItem::after {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(../../images/icon-arrow-dark.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 29%;
    top: 20%;
  }
  nav .MenuContainer .NavItemsContainer .ListItem:hover::after, nav .MenuContainer .NavItemsContainer .ListItem:focus::after {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(../../images/../../images/icon-arrow-dark.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 29%;
    top: 7px;
    transform: rotateZ(180deg);
  }
  nav .MenuContainer .NavItemsContainer .ListItem:hover {
    text-decoration: underline;
    bottom: 2px solid hsl(0deg, 0%, 100%);
  }
  nav .MenuContainer .NavItemsContainer .ListItem:hover .DropdownContainer, nav .MenuContainer .NavItemsContainer .ListItem:focus .DropdownContainer {
    display: flex;
    padding: 25px 20px;
    height: auto;
    transition: padding 0.5s;
  }
  nav .MenuContainer .NavItemsContainer .ListItem .DropdownContainer {
    display: none;
    margin-top: 20px;
    margin-left: -15px;
    background-color: hsl(0deg, 0%, 100%);
    width: 150px;
    border-radius: 5px;
    padding: 25px 20px;
    position: absolute;
    color: black;
    margin-bottom: 20px;
    flex-direction: column;
    box-shadow: 0 0 10px black;
    gap: 5px;
    cursor: default;
  }
  nav .MenuContainer .NavItemsContainer .ListItem .DropdownContainer .DropdownItem {
    cursor: pointer;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
  }
  nav .MenuContainer .NavItemsContainer .ListItem .DropdownContainer .DropdownItem:hover {
    font-weight: 500;
  }
}
@media only screen and (max-width: 1030px) and (max-width: 1030px) {
  nav .MenuContainer .NavItemsContainer .ListItem .DropdownContainer {
    transition: padding 0.5s;
    padding: 0;
    height: 0;
    display: flex;
    background-color: hsla(240deg, 3%, 79%, 0.273);
    width: 250px;
    position: relative;
    align-items: center;
    box-shadow: none;
    overflow: hidden;
  }
  nav .MenuContainer .NavItemsContainer .ListItem .DropdownContainer .DropdownItem {
    cursor: pointer;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    border-bottom: 0;
    color: hsl(208deg, 49%, 24%);
  }
  nav .MenuContainer .NavItemsContainer .ListItem .DropdownContainer .DropdownItem:hover {
    font-weight: 500;
  }
}
@media only screen and (max-width: 1030px) {
  nav .MenuContainer .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 10;
  }
}
@media only screen and (max-width: 1030px) and (max-width: 1030px) {
  nav .MenuContainer .buttons {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1030px) {
  nav .MenuContainer .buttons button {
    color: hsl(0deg, 0%, 100%);
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    border: 0;
    padding: 5px 25px;
    border-radius: 25px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 1030px) {
  nav .MenuContainer .buttons .SignUp, nav .MenuContainer .buttons .StartforFree {
    background-color: hsl(0deg, 0%, 100%);
    color: hsl(356deg, 100%, 66%);
  }
  nav .MenuContainer .buttons .SignUp:hover, nav .MenuContainer .buttons .StartforFree:hover {
    background-color: rgba(255, 255, 255, 0.445);
    color: hsl(0deg, 0%, 100%);
  }
}
@media only screen and (max-width: 1030px) {
  nav .MenuContainer .buttons .LearnMore {
    border: 1px solid hsl(0deg, 0%, 100%);
  }
  nav .MenuContainer .buttons .LearnMore:hover {
    background-color: hsl(0deg, 0%, 100%);
    color: hsl(356deg, 100%, 66%);
  }
}
@media only screen and (max-width: 1030px) {
  nav .MenuContainer .buttons .LearnMore, nav .MenuContainer .buttons .StartforFree {
    padding: clamp(5px, 1vw, 15px) clamp(25px, 3vw, 40px);
    font-size: larger;
  }
}
@media only screen and (max-width: 1030px) and (max-width: 1030px) {
  nav .MenuContainer .buttons button {
    color: hsl(208deg, 49%, 24%);
  }
  nav .MenuContainer .buttons .LearnMore {
    color: hsl(0deg, 0%, 100%);
  }
  nav .MenuContainer .buttons .SignUp {
    background: #ff8f70;
    background-image: linear-gradient(90deg, #ff8f70 0%, #ff3d54 100%);
    color: hsl(0deg, 0%, 100%);
  }
}
@media only screen and (max-width: 1030px) {
  nav .active {
    transition: transform 0.2s;
    transform: translateX(0);
  }
}
header {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}
header .title {
  color: hsl(0deg, 0%, 100%);
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: clamp(25px, 5vw, 80px);
}
header .subTitle {
  color: hsl(0deg, 0%, 100%);
  opacity: 0.8;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: clamp(15px, 2vw, 30px);
}
header .buttons {
  margin-top: 30px;
}
header .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
}
@media only screen and (max-width: 1030px) {
  header .buttons {
    flex-direction: column;
  }
}
header .buttons button {
  color: hsl(0deg, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  border: 0;
  padding: 5px 25px;
  border-radius: 25px;
  cursor: pointer;
}
header .buttons .SignUp, header .buttons .StartforFree {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(356deg, 100%, 66%);
}
header .buttons .SignUp:hover, header .buttons .StartforFree:hover {
  background-color: rgba(255, 255, 255, 0.445);
  color: hsl(0deg, 0%, 100%);
}
header .buttons .LearnMore {
  border: 1px solid hsl(0deg, 0%, 100%);
}
header .buttons .LearnMore:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(356deg, 100%, 66%);
}
header .buttons .LearnMore, header .buttons .StartforFree {
  padding: clamp(5px, 1vw, 15px) clamp(25px, 3vw, 40px);
  font-size: larger;
}
@media only screen and (max-width: 1030px) {
  header .buttons button {
    color: hsl(208deg, 49%, 24%);
  }
  header .buttons .LearnMore {
    color: hsl(0deg, 0%, 100%);
  }
  header .buttons .SignUp {
    background: #ff8f70;
    background-image: linear-gradient(90deg, #ff8f70 0%, #ff3d54 100%);
    color: hsl(0deg, 0%, 100%);
  }
}

main {
  padding: 10px 0;
}
main .SubTitle {
  text-align: center;
  color: hsl(208deg, 49%, 24%);
  font-family: "Overpass", sans-serif;
  font-size: clamp(20px, 5vw, 50px);
  margin: 100px 0;
}
main .section-1 {
  display: flex;
  justify-content: center;
  height: 65vh;
  margin-bottom: 100px;
}
main .section-1 article {
  width: 40%;
}
main .section-1 article .SectionTitle {
  color: hsl(208deg, 49%, 24%);
  font-family: "Overpass", sans-serif;
  font-size: clamp(20px, 2vw, 35px);
  margin: 1.5rem 0;
}
main .section-1 article .SectionParagraph {
  color: hsl(207deg, 13%, 34%);
  font-size: clamp(16px, 1vw, 24px);
  font-family: "Overpass", sans-serif;
  margin-bottom: 5rem;
}
main .section-1 .image {
  width: 40%;
  position: relative;
}
main .section-1 .image img {
  position: absolute;
  right: 0;
  top: 40%;
  width: clamp(800px, 50vw, 1000px);
  transform: translateX(50%) translateY(-50%);
}
main .section-2 {
  background: rgb(44, 45, 63);
  background: linear-gradient(90deg, rgb(44, 45, 63) 0%, rgb(63, 65, 100) 100%);
  border-radius: 0 100px 0 100px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  position: relative;
}
main .section-2 .wrapper {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}
main .section-2 .wrapper .ImgCircles {
  position: absolute;
  left: -11%;
  bottom: -20%;
  height: 200%;
}
main .section-2 .images {
  width: 30%;
  height: 100%;
}
main .section-2 .images .ImgPhones {
  left: -20%;
  position: relative;
  top: -15%;
  height: 140%;
}
main .section-2 .images img {
  position: absolute;
}
main .section-2 article {
  z-index: 999;
  width: 35%;
}
main .section-2 article .SectionTitle {
  color: hsl(0deg, 0%, 100%);
  font-size: clamp(20px, 2vw, 45px);
  font-family: "Overpass", sans-serif;
}
main .section-2 article .SectionParagraph {
  margin-top: 25px;
  color: hsl(0deg, 0%, 100%);
  font-family: "Overpass", sans-serif;
  opacity: 0.8;
  font-size: clamp(15px, 2vw, 27px);
}
@media only screen and (max-width: 1450px) {
  main .section-2 .images .ImgPhones {
    left: -20%;
    position: relative;
    top: 15%;
    height: 80%;
  }
}
main .section-3 {
  display: flex;
  justify-content: center;
  gap: 10%;
  height: 100vh;
  align-items: center;
  padding-top: 75px;
}
main .section-3 .images {
  position: relative;
  width: 20%;
}
main .section-3 .images img {
  position: absolute;
  left: 0%;
  top: 40%;
  width: clamp(800px, 50vw, 1000px);
  transform: translateX(-58%) translateY(-50%);
}
main .section-3 article {
  width: 40%;
}
main .section-3 article .SectionTitle {
  color: hsl(208deg, 49%, 24%);
  font-family: "Overpass", sans-serif;
  font-size: 35px;
  margin: 1.5rem 0;
}
main .section-3 article .SectionParagraph {
  color: hsl(207deg, 13%, 34%);
  font-size: clamp(16px, 1.3vw, 28px);
  font-family: "Overpass", sans-serif;
  margin-bottom: 5rem;
}

footer {
  background-color: hsl(240deg, 10%, 16%);
  height: 60vh;
  display: flex;
  padding-top: 75px;
  padding-left: 20px;
  position: relative;
}
footer .logoContainer {
  width: 25%;
}
footer .logoContainer .logo {
  width: clamp(125px, 10vw, 200px);
}
footer ul {
  width: 25%;
  font-family: "Ubuntu", sans-serif;
  color: hsl(0deg, 0%, 100%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: clamp(20px, 2vw, 30px);
}
footer ul li {
  font-weight: 400;
  opacity: 0.6;
  list-style: none;
  cursor: pointer;
}
footer ul li:hover {
  text-decoration: underline;
}
footer ul .title {
  font-weight: 500;
  opacity: 1;
  margin-bottom: 20px;
  cursor: text;
}
footer ul .title:hover {
  text-decoration: none;
}
footer .attribution {
  color: hsl(0deg, 0%, 100%);
  font-size: 11px;
  display: inline-block;
  text-align: center;
  width: 100%;
  position: absolute;
  margin: auto;
  bottom: 10px;
}
footer .attribution a {
  color: hsl(209deg, 100%, 50%);
}

.backgroundImage {
  position: relative;
  height: 675px;
  border-radius: 0 0 0 100px;
  background: #ff8f70;
  background-image: linear-gradient(90deg, #ff8f70 0%, #ff3d54 100%);
}
.backgroundImage .wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 0 0 0 100px;
  position: absolute;
}
.backgroundImage .wrapper .BGIMG {
  position: absolute;
  inset: 0;
  background-image: url(../images/bg-pattern-intro-desktop.svg);
  background-size: 200%;
  background-position: 30% 50%;
}/*# sourceMappingURL=style.css.map */