@import './res/variables';
@import './res/reset';
@import './layout/navbar';
@import './layout/header';
@import './layout/main';

.backgroundImage{
   .BGIMG{
      position: absolute;
      inset: 0;
      background-image: url(../images/bg-pattern-intro-desktop.svg);
      background-size: 200%;
      background-position: 30% 50%;
   }
   overflow: hidden;
   position: relative;
   height: 70vh;
   border-radius: 0 0 0 100px;
   background: $Gradient1A;
   background-image:linear-gradient(90deg, $Gradient1A 0%, $Gradient1B 100%);
   // background-image: url(../../images/bg-pattern-intro-desktop.svg);
}