@import '../res/variables';

nav{
   margin:8vh 12vh;
   display: flex;
   height: 80px;
   gap: 50px;
   .MenuContainer{
      display: flex;
      justify-content: space-between;
      width: 100%;
      .NavItemsContainer{
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 300px;
         .ListItem{
            position: relative;
            color: $White;
            font-family: $Ubuntu;
            font-weight: $Ubuntu2;
            font-size: $Size;
            padding: 20px 0;
            cursor: pointer;
            &::after{
               content: "";
               width: 10px;
               height: 10px;
               background-image: url(../../images/icon-arrow-light.svg);
               background-size: 100%;
               background-repeat: no-repeat;
               background-position: center;
               position: absolute;
               right: -20px;
               top: 45%;
            }
            &:hover::after,&:focus::after{
               content: "";
               width: 10px;
               height: 10px;
               background-image: url(../../images/icon-arrow-light.svg);
               background-size: 100%;
               background-repeat: no-repeat;
               background-position: center;
               position: absolute;
               right: -20px;
               top: 40%;
               transform: rotateZ(180deg);

            }
            &:hover{
               text-decoration: underline;
               bottom: 2px solid $White;
            }
            @import '../components/dropdown';
         }

            

      }
      @import '../components/buttons';
   }
}