.section-2{
   background: rgb(44,45,63);
   background: linear-gradient(90deg, rgba(44,45,63,1) 0%, rgba(63,65,100,1) 100%);
   border-radius: 0 100px 0 100px;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10%;
   position: relative;
   .wrapper{
      overflow: hidden;
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 0 100px 0 100px;
      .ImgCircles{
         position: absolute;
         left: -11%;
         bottom: -20%;
         height: 200%;
      }
   }
   .images{
      width: 30%;
      height: 100%;
      
      .ImgPhones{
         left: -20%;
         position: relative;
         top: -15%;
         height: 140%;
      }
      img{
         position: absolute;
      }
   }
   article{
      z-index: 999;
      width: 35%;
      .SectionTitle{
         color: $White;
         font-size: clamp(20px,2vw,45px);
         font-family: $Overpass;
      }
      .SectionParagraph{
         margin-top: 25px;
         color: $White;
         font-family: $Overpass;
         opacity: 0.8;
         font-size: clamp(15px,2vw,27px);
      }
   }
   
}
@media only screen and (max-width: 1450px){
   .section-2{
      .images{
         .ImgPhones{
            left: -20%;
            position: relative;
            top: 15%;
            height: 80%;
         }
      }
   }
}
@media only screen and (max-width: 1030px){
   .section-2{
      min-height: 700px;
      justify-content:flex-start;
      align-items: center;
      flex-direction: column;
      margin-top: 50vw;
      gap: 0;
      position: relative;
      .wrapper{
         overflow: hidden;
         position: absolute;
         height: 100%;
         width: 100%;
         border-radius: 0 100px 0 100px;
         .ImgCircles{
            position: absolute;
            left: -30%;
            bottom: 30%;
            height: 120%;
         }
      }
      .images{
         width: 90%;
         height: 45vw;
         .ImgPhones{
            bottom: 0;
            left: 0;
            right:-20%;
            position: absolute;
            top: -50vw;
            height: auto;
            width: 100%;
         }
      }
      article{
         z-index: 999;
         width: 90%;
         .SectionTitle{
            color: $White;
            font-size: 40px;
            font-family: $Overpass;
            text-align: center;
         }
         .SectionParagraph{
            margin-top: 25px;
            color: $White;
            font-family: $Overpass;
            opacity: 0.8;
            font-size: 20px;
            text-align: center;
         }
      }
      
   }
}