&:hover .DropdownContainer,&:focus .DropdownContainer{
   display: flex;
}
.DropdownContainer{
   display: none;
   margin-top: 20px;
   margin-left: -15px;
   background-color: $White;
   width: 150px;
   border-radius: 5px;
   padding: 25px 20px;
   position: absolute;
   color: black;

   flex-direction: column;
   box-shadow: 0 0 10px black;
   gap: 5px;
   cursor: default;
   .DropdownItem{
      cursor: pointer;
      font-size: $Size;
      font-family: $Ubuntu;
      font-weight: $Ubuntu1;
      &:hover{
         font-weight: $Ubuntu2;
      }
   }
}